name: Ejecucion de comandos en paralelo

on:
  push:
    branches:
      - main2

jobs:    
  comandos-paralelo:
    runs-on: ubuntu-latest
    steps:

      - name: Step 1 - Listado de directorios
        run: ls -la
        
      - name: Step 2 - Creacion de directorio
        run: mkdir documentos

      - name: Step 3 - Creacion de archivos en directorio
        run: |
          cd documentos
          echo 'Primer mensajes'    > archivo01.txt
          echo 'Segundo mensajes'    > archivo02.txt
          echo 'Tercer mensajes'    > archivo03.txt                    
          cd ..

      - name: Step 4 - Listado de directorios y archivos
        run: ls -la  documentos    
        
      - name: Step 5 - visualizacion de contendidos
        run: |      
          cd documentos
          cat archivo01.txt
          cat archivo02.txt
          cat archivo03.txt
